.forgotPage {
  grid-area: page;
  align-self: center;
}

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 0;
}

.errorMessage {
  color: red;
}

.forgot {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}